{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <h1 class="text-xl mb-4">Liste des étudiants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>VMA</th>
                <th>Objectif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.mas }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="flex gap-4">
    <a href="{{ path('app_student_new') }}">Ajouter</a>
</div>
{% endblock %}
