{% extends 'base.html.twig' %} {% block title %}Student{% endblock %} {% block
body %}
<h1>Student</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ student.firstname }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ student.lastname }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ student.gender }}</td>
        </tr>
        <tr></tr>
    </tbody>
</table>

<h2>Code barre</h2>
<img
    src="data:image/png;base64,{{ student.barcodeImage }}"
    alt="Code barre de l'identifiant de l'étudiant {{ student.firstname }} {{
        student.lastname
    }}"
/>

<a href="{{ path('app_student_index') }}">back to list</a>
<div class="btn-group flex">
    <a class="btn" href="{{ path('app_student_edit', { id: student.id }) }}"
        >edit</a
    >
    {{ include("student/_delete_form.html.twig") }}
</div>

{% endblock %}
